{% extends "base.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">PDFMiner</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{ url_for('signup') }}" class="pure-menu-link">{% if session.logged_in %}Sign Out{% endif %}</a></li>
        </ul>
    </div>

    <div class="content-wrapper" style="top: 1%; height: 100%;">
        <div class="content" style="padding: 0; height: 100%;">
            <embed src="{{ url_for('static', filename='pdfs/' + pdf_name) }}" width="800px" style="height: 100%">
        </div>
    </div>
  {% endif %}
{% endblock %}
